server.port=8080
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://192.168.1.202/pgpool
spring.datasource.username=pgo
spring.datasource.password=PGoPassword